.fullscreen-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.my-content{
   margin: 10px;
}

mat-sidenav {
  width: 200px;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
