<mat-list>
    <h3 md-subheader>Devices</h3>
    <mat-card *ngFor="let item of [{name:'ddd'}]"
        [matMenuTriggerFor]="appMenu"
        (click)="selecteddevice=item"
        [ngClass]="{'success' : item.connected == true}">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 md-line>{{item.name}}</h4>
        <p mat-line> {{item.deviceid}} {{(item.connected)?"(Paired)":""}}</p>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-menu #appMenu="matMenu">
<button md-menu-item (click)="onItemClick(selecteddevice)"> {{ (selecteddevice.connected)? "Disconnect" : "Connect" }} </button>
    </mat-menu>
</mat-list>
